*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0,8), rgba(0,0,0,0,6)), url(..images/russ.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.header ul a{
    color: blue;
}
.header h1{
    color: yellow;
}
.h1{
    color: yellow;
}
body{
    background-image: url(../images/choose.jpg);
    text-decoration-color: greenyellow;
}
p{
    text-decoration: double;
    color: yellow;
    text-align: justify;
    text-shadow: red;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;

}
.nav-logo img{
    width: 135px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
}
.nav-links img{
    float: right;
    width: 50%;
}
.nav-links .btn2{
    float: right;
}
.banner-title{
    margin: 80px 130px;
    color:#987698;
}
.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner-title h1 span{ 
}
.vertical-bar{
    height: 100%;
    background: #987698;
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80%;
    color: green;
    font-size: 30px;
    cursor: pointer;
}
.social-icons{
    height: 35%;
    width: 80%;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 50%;
}
.footer img{
    width: 20px;
}
.notification{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}
.travel img{
    float: right;
}
.contents{
    flex-basis: 50%;
    padding: 100px;
}
.notification-img{
    flex-basis: 50%;
}
.notification-img img{
    width: 100%;
}
.contents a{
    text-decoration: none;
    color: #987698;
    font-size: 13px;
    margin: 0 10px;
}
.contents p{
    text-align: right;
    margin-top: 10px;
}
.nav-bar .fa{
    display: flex;
}
@media (max-width: 700px){
    .vertical-var{
        display: none;
    }
    .banner-title{
        margin: 80px 40px;
    }
    .banner-title{
        font-size: 50px;
    }
    .notification{
        width: 100%;
    }
    .nav-bar{
        padding: 40px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;

    }
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0,8), rgba(0,0,0,0,6)), url(/assets/images/choose.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;

}
.nav-logo img{
    width: 135px;
}
.nav-links{
    flex: 1;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.nav-links .btn{
    float: right;
}
.banner-title{
    margin: 80px 130px;
    color: black;
}
.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner-title h1 span{ 
}
.vertical-bar{
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80%;
    color: green;
    font-size: 30px;
    cursor: pointer;
}
.social-icons{
    height: 35%;
    width: 80%;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
}
.notification{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}
.contents{
    flex-basis: 50%;
    padding: 100px;
}
.notification-img{
    flex-basis: 50%;
}
.notification-img img{
    width: 100%;
}
.contents a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}
.contents p{
    text-align: right;
    margin-top: 10px;
}
.nav-bar .fa{
    display: block;
}
@media (max-width: 700px){
    .vertical-var{
        display: none;
    }
    .banner-title{
        margin: 80px 40px;
    }
    .banner-title{
        font-size: 50px;
    }
    .notification{
        width: 100%;
    }
    .nav-bar{
        padding: 40px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;

    }
}
